<div class="row">
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="http://dummyimage.com/242x200/5cb85c/fff.png&amp;text=thumbnail" alt="image" style="width:100%">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>Item des here. lord hitler is so cool hello world</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="http://dummyimage.com/242x200/5cb85c/fff.png&amp;text=thumbnail" alt="image" style="width:100%">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>Item des here</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="http://dummyimage.com/242x200/5cb85c/fff.png&amp;text=thumbnail" alt="image" style="width:100%">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>Item des here</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="http://dummyimage.com/242x200/5cb85c/fff.png&amp;text=thumbnail" alt="image" style="width:100%">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>Item des here</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a></p>
      </div>
    </div>
  </div>
</div>