{{# each productList }}
  <div class="row">
    {{# each this }}
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <img src={{ this.imagePath }} alt="..." style="width:100%">
          <div class="caption">
            <h3>{{this.title}}</h3>
            <p>Item des here. lord hitler is so cool hello world</p>
            <p><a href="#" class="btn btn-primary" role="button">Button</a></p>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
{{/each}}
